{% extends 'base/base.html' %}
{% load static %}

{% block title %}EM Compressors{% endblock %}

{% block page_content %}
  
  <section style="text-align: center; margin-bottom: 60px;">
    <h2>Compressors</h2>
  </section>
  <section style="text-align: center; height: 657px; margin: auto;">
    <div style="width: 50%; float: left;">
      <img src="{% static 'images/Compressors.jpg' %}" alt='pump image' width="450px" id="p-d-img"/>
    </div>
    <div style="width: 50%; float: right;">
      <h3 style="margin-top: 210px;">The page is under construction.</h3>
    </div>
  </section>

{% endblock %}